# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*

# misc
.coverage
.vscode
coverage.xml

# Home Assistant configuration
config/*
!config/configuration.yaml
DEVICE_REGISTRY_IMPLEMENTATION.md
TESTING_GUIDE.md
