homeassistant==2023.11.0
homeassistant-stubs==2023.11.0
pywattbox==0.7.2
ruff
pre-commit
# Issue with default_config, python3.11, and botocore
# See: https://github.com/home-assistant/core/issues/95192
botocore @ git+https://github.com/boto/botocore
